@import '../styles/variables';

.appBarContainer {
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgba($dark-jungle-green, 0.2);
}

.navItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $white;
}

.chevronLeftIcon {
  margin-right: -0.4em;
}

.qoverLink {
  color: $white;
  text-decoration: none;
  margin: 0;
  display: inline-block;
}

@media (min-width: 600px) {
  .appBarContainer {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media (min-width: 960px) {
  .appBarContainer {
    padding-left: 8em;
    padding-right: 8em;
  }  
}