
@import "./styles/resets.scss";
@import "./styles/variables.scss";

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.loginScreenBg {
  background: linear-gradient(122deg, $bright-navy-blue -6%, $maximum-blue-green);
}

.carFormScreenImgBg {
  background-image: url('./images/code.png');
  background-position: center;
  background-repeat: no-repeat;
}

.pricePlansScreenBg {
  background-color: $cultured-white;
  background-image: url('./images/travelBackground.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.circularProgressContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}