
@import "../../styles/variables.scss";

.loginContainer {
  padding: 2em;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.askAccessButton {
  text-transform: none;
  font-weight: bold;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.askAccessSpan {
  margin-left: 0.5em;
  text-decoration: underline;
}

.qoverLogo {
  width: 100px;
  height: 80px;
}