/* Colors */
$white: #ffffff;
$cultured-white: #f6f6f6;
$bright-navy-blue: #317bda;
$maximum-blue-green: #33c3c8;
$dark-jungle-green: #082020;
$dark-electric-blue: #5b7289;
$dark-turquoise: #31cfda;
$tart-orange: #f44336;
$silver: #C2C2C2;
$platinum: #e4ebec;
$davys-gray: #484848;